<div class="scores-title">
  <h1><%= @photo.name %> High Scores</h1>
</div>

<div class="scores-div">
  <table class="scores-table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Time</th>
    </tr>
    <% rank = 1 %>
    <% @scores.each do |score| %>
      <tr>
        <td><%= rank %>)</td>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
      </tr>
      <% rank += 1 %>
    <% end %>
  </table>
</div>

<div class="home-link">
  <%= link_to "<< Return to Home", root_path %>
</div>