<div class="score-title title">
  <h1><%= @photo.name %> High Scores</h1>
</div>

<div class="scores">
  <table class="scores-list">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Time (sec)</th>
    </tr>
    <% count = 1 %>
    <% @scores.each do |score| %>
      <tr>
        <td><%= count %></td>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
      </tr>
      <% count += 1 %>
    <% end %>
  <table>
</div>

<div class="score-home-link">
  <h3><%= link_to "Return to Home", root_path %></h3>
</div>